// LoginCard.scss

.login-card {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background: #fff;
  // padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 300px; /* Adjust the width as needed */
}

.card-title {
  text-align: center;
  font-size: x-large;
  margin-top: 0; /* Reset the margin-top */
}


  

  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    margin-bottom: 15px;
  }
  
  .btn-custom {
    width: 100%;
    color: #fff;
    border: none;
        
  }
  #button{
    background-color: #008DFF;
    border-radius: 50px;
    color: #fff;
    margin-top: 5px;
    
  }

  
  
  // Additional styles for the login form
  