$background-color: #fff;
$primary-color: #008DFF;
$secondary-color: #64f077;

body {
  margin: 0;
  padding: 0;
  background: $background-color;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.Navbar {
  background-color: $primary-color !important;
  margin: 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#logo {
  margin-left: 1rem;
}

.ms-auto {
  color: $background-color !important;
  display: flex;
  align-items: center;
}

.Navbar.Brand {
  margin-left: 5px;
}

.elements {
  text-decoration: none;
  position: relative !important;
  color: $background-color !important;
  font-size: 18px;
  margin-right: 25px !important;
  transition: color 0.3s ease;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;

  &:hover {
    color: $secondary-color !important;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $background-color !important;
    transition: width 0.3s ease;
  }

  &:hover::after {
    width: 100%;
  }
}

// 