$primary-color: #008DFF;
$background-color: #fff;

body {
  margin: 0;
  padding: 0;
  background: $background-color;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.Navbar {
  background-color: $primary-color !important;
  margin: 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#logo {
  margin-left: 1rem;
}

.ms-auto {
  color: #fff !important;
  display: flex;
  align-items: center;
}

.Navbar.Brand {
  margin: auto;
}

.elements {
  position: relative !important;
  color: #fff !important;
  font-size: 18px;
  margin-right: 20px !important;
  font-weight: bold;
  transition: color 0.3s ease;
  font-family: 'Poppins', sans-serif;

  &:hover {
    color: #00c3ff !important;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #00c3ff !important;
    transition: width 0.3s ease;
  }

  &:hover::after {
    width: 100%;
  }
}

.no-underline-link {
  text-decoration: none;
}
