 .custom-table {
  
  margin-top: 20px;
  margin-bottom: 20px;
  /* margin-left: 2px; */
  /* border-collapse: separate; */
  border-spacing: 0 0px;
  
}

.table-container{
  padding-top: 45px;
}

.custom-table thead {
  border: 1px solid black;
  margin-bottom: 10px;
}

.custom-table th {
  background-color: #007bff; /* Bootstrap's primary color */
  color: white;
  padding: 3px;
  border:1px solid #242424;
  white-space: nowrap; /* Adjust this value to add more space between elements */
}

.custom-table td {
  border: 1px solid #242424;
  padding: 5px; /* Adjust this value to add more space between elements */
}
