.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
}

.dropdown-menu {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  /* Center the dropdown menu */
  left: 50%;
  top: 100%; /* Position it below the icon */
  transform: translateX(-50%);
}

.dropdown-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.dropdown-item:hover {
  background-color:lightblue;
  border-radius: 11px;
  }

.dropdown-icon {
  margin-right: 10px;
}

.user-icon {
  font-size: 2.1rem;
  cursor: pointer;
  color: black;
  transform: translateY(8px);
}